*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
--fondo:#fffdda;
--textoEnlace:#c19a4f;
}

.header{
    display:flex;
    justify-content:space-between;
    padding:15px;
    background-color: var(--fondo);
}

.logo,.burger{
    width:100px;
    height:100px;
}

.burger{
    transform: scale(4,4);
}
.ulHeader{
    display:flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.aLi{
    color:var(--textoEnlace);
    margin:0 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.10em;
}

@media (max-width:759px){
    .ulHeader{
        flex-direction: column;
        position:absolute;
        top:100px;
        width:100%;
        background-color: var(--fondo);
        align-items: center;
        overflow:hidden;
        right:100%;
        transition: right 0.3s ease-in-out;
    }

    .ulHeader.active{
        right:0;
    }


    .liUl{
        padding:15px 
    }

    .burger{
        transform: scale(2,2);
        margin-right: 50px;
        cursor: pointer;

    }
}

@media (max-width:990px){
    .burger{
        transform: scale(1.5,1.5);
    }

}
